<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
        <dl class="form">
          <dt>
            <label for="inputEmail3">Cliente:</label>
          </dt>
          <dd>
            <input type="text" class="form-control" id="client">
          </dd>
          <dt>
            <label for="inputPassword3">Fecha de entrega:</label>
          </dt>
          <dd>
            <input type="date" class="form-control" id="inputPassword3" id="deliveryDate">
          </dd>
        </dl>
      </div>
      <div class="col-md-4 pull-right">
          <button class="btn btn-default" type="submit">Guardar</button>
          <button class="btn btn-default" type="submit">Descartar</button>
          <button class="btn btn-default" type="submit">Reimprimir</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div id="workorderRegion">
      
    </div>    
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <button class="btn btn-default" type="button" id="addWorkorder">Añadir orden</button>
    </div>
  </div>
</div>
