<div class="col-md-6">
  <dl class="form">
    <dt>
      <label>Trabajo:</label>
    </dt>
    <dd>
      <select class="form-control" ng-model="inputFrom">
        <option value="fromClient">Libro del cliente</option>
        <option value="fromFile">Archivo</option>
        <option value="fromList">Lista</option>
      </select>
      <input type="text" class="form-control" placeholder="Nombre...">
    </dd>
    <dt>
      <label>Como:</label>
    </dt>
    <dd>
      <select class="form-control" ng-model="howTo">
        <option value="fromClient">Libro del cliente</option>
        <option value="fromFile">Archivo</option>
        <option value="fromList">Lista</option>
      </select>
    </dd>
    <dt>
      <label>Completo:</label>
    </dt>
    <dd>
      <input type="checkbox" ng-model="doComplete">
    </dd>
    <dt>
      <label>Paginas:</label>
    </dt>
    <dd>
      <input type="text" class="form-control" placeholder="Nombre..." ng-model="pages">
    </dd>
    <dt>
      <label>Observaciones:</label>
    </dt>
    <dd>
      <textarea class="form-control" ng-model="observation"></textarea>
    </dd>
  </dl>           
</div>
<div class="col-md-6">
  <dl class="form">
    <dt>
      <label>Estado:</label>
    </dt>
    <dd>
      <select class="form-control" ng-model="state">
        <option value="fromClient">Creado</option>
        <option value="fromFile">Fotocopiando</option>
        <option value="fromList">Anillado</option>
        <option value="fromList">Completo</option>
        <option value="fromList">Entregado</option>
        <option value="fromList">Reciclado</option>
      </select>
    </dd>
    <dt>
      <label>Ignorar:</label>
    </dt>
    <dd>
      <input type="checkbox" ng-model="ignore">
    </dd>
    <dt>
      <label></label>
    </dt>
    <dd>
      <table class="table">
        <thead>
          <tr>
            <th>Desc.</th>
            <th>Costo</th>
            <th>Cantidad</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Doble faz</td>
            <td>0.65</td>
            <td>15</td>
            <td>18.85</td>
          </tr>
        </tbody>
      </table>
    </dd>                         
    <dt>
      <label>Paginas:</label>
    </dt>
    <dd>
      <input type="text" class="form-control" placeholder="Nombre...">
    </dd>              
  </dl>           
</div>
<div class="pull-right">
  <button class="btn btn-default" type="submit">Guardar</button>
  <button class="btn btn-default" type="submit">Descartar</button>
  <button class="btn btn-primary" type="submit">Save</button>
</div>