<form class="navbar-form navbar-left" role="search">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Ticket ...">
    <span class="input-group-btn">
    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </div><!-- /input-group -->
</form>
<ul class="nav nav-pills nav-stacked">
  <li><a href="#dashboard">Dashboard</a></li>
  <li><a href="#request">Trabajos</a></li>
  <li><a href="#workorder">Ordenes</a></li>
  <li><a href="#dashboard">Clientes</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="#request/new">Crear Trabajo</a></li>
</ul>