@font-face {
  font-family: 'Glyphicons';
  src: url('@{icon-font-path}@{icon-font-name-glyph}.ttf') format('truetype');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('@{icon-font-path}@{icon-font-name-fa}.ttf') format('truetype');
}