@font-face {
  font-family: 'Glyphicons';
  src: url('@{icon-font-path}@{icon-font-name-glyph}.ttf') format('truetype');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('@{icon-font-path}@{icon-font-name-fa}.ttf') format('truetype');
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('@{icon-font-path}@{icon-font-name-glyph}.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}@{icon-font-name-glyph}.woff') format('woff'),
       url('@{icon-font-path}@{icon-font-name-glyph}.ttf') format('truetype'),
       url('@{icon-font-path}@{icon-font-name-glyph}.svg#glyphicons-halflingsregular') format('svg');
}