@main-aside-percentage: 15%;
@main-aside-max-width: 400px;
@main-padding: 16px;

@form-label-column: 15%;
@form-control-column: 99% - @form-label-column;
@form-margin-between-control-line: 10px;

@dark-font-color: #F0F0F0;
@dark-background-color: #151515;

@icon-font-path:          "../vendors/bootstrap/dist/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";

@border-separator:  #E0E0E0 1px solid;